{% extends 'base.html' %}

{% block content %}
  <h1>책 상세 정보</h1>
  <p>등록 번호 : {{ book.pk }}</p>
  <p>제목 : {{ book.title }}</p>
  <p>설명 : {{ book.description }}</p>
  <hr>
  <h2>리뷰 등록</h2>
  {% if user.is_authenticated %}
  
    <form action="{% url 'libraries:create_reviews' book.pk %}" method="POST">
      {% csrf_token %}

      <!--폼 가져오는데, 각 필드에 p태그를 사용한다-->
      {{review_form.as_p}}
      <input type="submit" value="리뷰 작성">
    </form>
  {% else %}
  <p>로그인 후 작성해주세요.</p>
  {% endif %}
  <hr>
  <h2>리뷰 전체 목록</h2>
  <ul>
    {% for review in reviews %}
      <li>
        {{review.user}} - {{review.content}}
      </li>
      {% if review.user == request.user %}
      <form action="{% url 'libraries:delete_reviews' book.pk review.pk %}" method="POST">
        {% csrf_token %}
        <inputS type="submit" value="리뷰 삭제">
      </form>
      {% endif %}
    {% endfor %}
  </ul>
  <a href="{% url "libraries:index" %}">[BACK]</a>
{% endblock content %}
